{% extends 'base.html.twig' %}

{% block title %}New Borrower{% endblock %}

{% block body %}
    <h1>Vous inscrire</h1>

    {{ include('borrower/_form.html.twig') }}

    <a href="{{ path('borrower_index') }}">Retour à la liste de livres</a>
{% endblock %}
